.container {
    margin: 3% 35%;
    background-color: #f7f3f3;
    width: 30%;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    text-align: center;
    color: #FF6B82;
    font-weight: 500;
    font-size: 30px;
    margin: 0;
}
.box {
    margin-top: 3%;
    border: 3px solid grey;
    padding: 0px 20px;
}
input[type=radio] {
    width: 25px;
    height: 16px;
}
.highlight{
    color: white;
    background-color: #FF6B82;
    margin-left: 45%;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}
.unit {
    font-size: 20px;
    font-weight: 600;
}
.price1 {
    margin-left:15%;
    font-size: 18px;
    font-weight: 600;
}
.price21 {
    margin-left: 38%;
    text-decoration: line-through;
    font-size: 14px;
    color: grey;
}
.price2 {
    margin-left: 75%;
    text-decoration: line-through;
    font-size: 14px;
    color: grey;
}
.offer {
    background-color: #FF6B82;
    margin-left: 15px;
    color: white;
    font-weight: 100;    
    font-size: 14px;
    padding: 3px 10px;
}
.price {
    margin-left: 40px;
    font-weight: 400;
    font-size: 16px;
}
div .options {
    padding: 5px 60px;
    display: none;
}
.opt_title_c {
    margin-left: 50px;
}
.optsize {
    width: 70px;
    height: 25px;
    border-radius: 1px solid;
    margin: 5px;
    background-color: #f7f3f3;
}
.optcolor {
    width: 70px;
    height: 25px;
    border-radius: 1px solid;
    margin-left: 10px;
}
.word {
    color: #FF6B82;
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}
.total {
    margin-left: 20%;
    font-size: 20px;
    font-weight: 450;
}
.button {
    padding: 10px 70px;
    background-color: #FF6B82;
    color: white;
    display: flex;
    margin: auto;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.copy-right{
    text-align: right;
    color: grey;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}